#root {
  margin: 0 auto;
  text-align: center;
}

.grid-wrapper {
  height: 100%;
  flex-grow: 1;
}

table {
  width: 400px;
  height: 400px;
  border: 2px solid wheat;
  text-align: center;
}

th, td {
  border: 1px solid wheat;
}

.table-body {
  background-color: lightblue;
}
